<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        PANDAS      
    </strong>
</p>

In [2]:
import pandas as pd

dados = [
    ["Ana",   "SP", 2500.50],
    ["Juca",  "SP", 5000.00],
    ["Léo",   "RJ", 25000.15],
    ["Beto",  "MG", 1300.14],
    ["Maria", "MG", 1800.00],    
]        
colunas = ["Nome", 'Estado', 'Salário']

df = pd.DataFrame(dados, columns=colunas)

df.head(2)    # 5 primeiras e 5 últimas
df.shape      # qtd linhas e colunas
df.info()  
df.describe()
df.dropna()
df['Nome']

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     5 non-null      str
 1   Estado   5 non-null      str
 2   Salário  5 non-null      float64
dtypes: float64(1), str(2)
memory usage: 252.0 bytes

0      Ana
1     Juca
2      Léo
3     Beto
4    Maria
Name: Nome, dtype: str

In [ ]:
df.to_excel("dados_bobos.xlsx", index=False)

In [ ]:
cod = 'codigo-1015/101215'
p = cod.index('-') + 1
cod[p:]

In [ ]:
df['Salário'] > 2000

df[   df['Salário'] > 2000   ]

In [9]:
df.groupby('Estado')['Salário'].mean().reset_index(name='Media Salarial')

  Estado  Media Salarial
0     MG         1550.07
1     RJ        25000.15
2     SP         3750.25

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 1 — Criando uma tabela de produtos   
    </strong>
</p>

In [5]:
colunas = ['estado', 'produto', 'estoque', 'preco']
dados = [
    ['RJ', 'Camisa Mengão', 2, 499.89],
    ['RJ', 'Bermuda Azul', 125, 499.89],
    ['SP', 'Sapato Preto', 20, 150.50]
]

df_exercicio = pd.DataFrame(dados, columns=colunas)

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 2 — Visualizando as primeiras linhas
    </strong>
</p>

In [ ]:
df_exercicio.head(1)
df_exercicio.tail(1)

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 3 — Filtrando produtos caros
    </strong>
</p>

In [6]:
df_exercicio[  df_exercicio['preco'] > 3000  ]

df_exercicio.describe()

df_exercicio['preco'].max()

df_exercicio.groupby('estado')['preco'].max()


df_exercicio.groupby('estado').agg(
    maior_preco = ('preco', 'max'),
    maior_estoque = ('estoque', 'max'),
    tot_estoque = ('preco', 'sum')
)

display(df_exercicio)

  estado        produto  estoque   preco
0     RJ  Camisa Mengão        2  499.89
1     RJ   Bermuda Azul      125  499.89
2     SP   Sapato Preto       20  150.50

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/>
        EXERCÍCIO 4 — Resumo por categoria
    </strong>
</p>