Importando Libs

In [ ]:
import pyodbc
import pandas as pd

Criando conexão

In [ ]:
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};" \
    "SERVER=den1.mssql7.gear.host;" \
    "DATABASE=vendasbicyclon;" \
    "UID=vendasbicyclon;" \
    "PWD=senha@clarify;" \
    "MARS_Connection=Yes"
)

In [ ]:
def exe_query(query):
    return pd.read_sql(query, conn)

lista_resposta = []
def exe_varias_querys(*args):
    for consulta in args:
        lista_resposta.append(pd.read_sql(consulta, conn))
    return lista_resposta

In [ ]:
query = """
SELECT 
    TABLE_SCHEMA,
    TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE'
        ORDER BY TABLE_SCHEMA, TABLE_NAME
"""

df_tabelas = pd.read_sql(query, conn)

In [ ]:
query_colunas = """
SELECT 
    TABLE_SCHEMA,
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    IS_NULLABLE
        FROM INFORMATION_SCHEMA.COlUMNS
        ORDER BY TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION
"""

exe_query(query_colunas)

In [ ]:
df_tabelas= exe_varias_querys(query, query_colunas)

In [ ]:
for consulta in df_tabelas:
    print(consulta)

Nome dos clientes

Produtos com valor > 2000 e descrição preenchida

In [ ]:
query = """ 
SELECT
    nomeProduto
    from
        produtos where precoUnitario >= 2000
        and descricaoProduto is not null  
"""

exe_query(query)