<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong>
        Estrutura de repetição | For
    </strong>
</p>

In [23]:
# for variável in alguma coisa:


# range(início, fim, passo)

# nome =  "Leonardo"

# L e o n a r d o
# 0 1 2 3 4 5 6 7
                 #    inicio  fim  passo
for contador in range(  10,    -1,   -1):
    if contador % 2 == 1:
        print(contador, end=" ")

9 7 5 3 1

In [ ]:
# Computar entrega por semana.

for dia in range(1, 7):
    qtd_entregas = int(input(f"{dia}º dia | Qtd entregas: "))
    soma_entrega += qtd_entregas

soma_entrega

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Estrutura de repetição | While
    </strong>
</p>

In [ ]:
# repetindo um texto 5 vezes com for
for contador in range(5): 
    print("batata")

# repetindo um texto 5 vezes com while
numero = 0
while numero <= 5:
    print("Frita")
    numero += 1

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Validando um senha de brincadeira
    </strong>
</p>

In [ ]:
senha_cadastrada = input('Senha: ')
senha_entrada = ''
tentativas = 0

while senha_cadastrada != senha_entrada:
    senha_entrada = input('Digite sua senha: ')
    tentativas += 1

    if tentativas == 3 and senha_cadastrada != senha_entrada:
        print("Tentativas máximas atingidas")
        break

if senha_cadastrada == senha_entrada:
    print('Acesso permitido')

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        While com Break
    </strong>
</p>

In [ ]:
while True:
    menu = int(input('1_Cadastrar | 2.Visualizar | 3.Sair | Opção: '))

    match menu:
        case 1:
            nome_franquia = input('Franquia: ')
        case 2:
            print(nome_franquia)
        case 3:
            break
        case _:
            print('Opção inválida!')

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Coleção | Lista
    </strong>
</p>

In [16]:
# Criando uma lista

lista1 = []
lista2 = list()

numeros = [range(61)]

numeros2 = list(range(61))


#           0     1    2     3   4   5  6 7
lista3 = ['Léo', 30, 1.83, True, 10,10,10,10]

In [ ]:
# Índice e Fatiamento

#           0     1    2     3   4   5  6 7
lista3 = ['Léo', 30, 1.83, True, 10,10,10,10]

# for elementos in lista3:
#     print(elementos)

for posicao, elemento in enumerate(lista3):
    print(f'Na posição {posicao}, temos o elemento: {elemento}')

Na posição 0, temos o elemento: Léo
Na posição 1, temos o elemento: 30
Na posição 2, temos o elemento: 1.83
Na posição 3, temos o elemento: True
Na posição 4, temos o elemento: 10
Na posição 5, temos o elemento: 10
Na posição 6, temos o elemento: 10
Na posição 7, temos o elemento: 10

In [ ]:
# Adicionando itens

nomes = ['Léo', 'Maria', 'Juca']
print(nomes)

nomes.append(["Jubileu", "Ana"])
nomes.append("Monica")

nomes.append(input('Nome: '))

nomes.insert(0, "Beto")

['Léo', 'Maria', 'Juca']

['Beto', 'Léo', 'Maria', 'Juca', ['Jubileu', 'Ana'], 'Monica']

In [ ]:
franquias=['RJ Rio de Janeiro 55', 'LJ São Paulo 55']

while True:
    try:
        franquia = input("Franquia: ")
        franquias.index(franquia)
        print('Franquia cadastrada')
    
    except ValueError:
        print('Franquia não cadastrada')
    
        franquias.append(franquia)
    
    print(franquias)

In [ ]:
# Removendo itens

franquias=['RJ Rio de Janeiro 55', 'LJ São Paulo 55', 'Três Rios']
franquias.pop(0)

franquias.remove("Três Rios")

In [14]:
numeros = [3,2,1,5,6,4,1,16,51,32,5,6,16,5,1,3,2,0]

sum(numeros)
max(numeros)
min(numeros)
len(numeros) 

numeros.sort() 
numeros.reverse()

numeros.count(1)

round(sum(numeros) / len(numeros), 2)

8.83

<p style="font-size: 1.1rem; color: #3bebda; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        # Exemplo: Imagine que cada franquiado me pague 10% de seu faturamento mensal 
    </strong>
</p>

In [ ]:
# Entrada de valores

franquias = ['RJ Rio de Janeiro 55', 'LJ São Paulo 55', 'LJ Três Rios 11']

pg_franquias = []

for franquia in franquias:
    valor = float(input(f'{franquia} | Valor: '))

    pg_franquias.append(franquia)
    pg_franquias.append(valor)    

pg_franquias

In [ ]:
for i, d in enumerate(pg_franquias):
    if i % 2 == 1:
        print(d)

In [ ]:
# Cálculo
soma = 0
for indice, dado in enumerate(pg_franquias):
    if indice % 2 == 1:
        # soma = soma + dado * 0.1
        soma += dado * 0.1
        
print(soma)

112412.057

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Coleção | Dicionário
    </strong>
</p>

In [ ]:
# Criando um dicionário

lista1 = []
lista2 = list()

tupla1 = ()
tupla2 = tuple()

dicionario1 = {}
dicionario2 = dict()

In [35]:
dicionario3 = {'chave' : 'valor'}
dicionario4 = dict(chave = 'valor')

paises = dict(
    br = "Brasil",
    us = 'Estados Unidos'
)

paises.keys()
paises.values()

paises.get('py', "Chave não encontrada")

'Chave não encontrada'

In [ ]:
# Criando dicionario de países

In [38]:
# Adicionando itens
paises = dict(
    br = "Brasil",
    us = 'Estados Unidos'
)

paises['py'] = 'Paraguai'

paises.update({
    "ar" : 'Argentina', 
    "fr" : 'França'
})

paises

{'br': 'Brasil',
 'us': 'Estados Unidos',
 'py': 'Paraguai',
 'ar': 'Argentina',
 'fr': 'França'}

In [ ]:
# Removendo itens

paises.pop('br')
paises.popitem()

In [ ]:
for chave, valor in paises.items():
    print(f'Na chave {chave}, temos o valor {valor}')

<p style="font-size: 1.1rem; color: #3bebda; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        # Exemplo: Cadastrando e consumindo Franquias  
    </strong>
</p>

In [1]:
franquias_cadastradas = []

for contator in range(2):
 
    franquia = dict(
        id       = int(input('Identificação: ')),
        cpf      = input('CPF: '),
        endereco = input('Endereço: ').title(),
        bairro   = input('Bairro: ').title(),
        cidade   = input('Cidade: ').title(),
        estado   = input('Estado: ').upper()
    )
    franquias_cadastradas.append(franquia)

In [ ]:
for indice, franquia in enumerate(franquias_cadastradas):     # Lista
    print(f"{indice + 1}ª Franquia\n")

    for chave, valor in franquia.items():                     #Dicionário
        print(f'{chave:<10} → {valor}')
    print()

1ª Franquia

id         → 98
cpf        → 123
endereco   → Rua A
bairro     → Centro
cidade     → Rio De Janeiro
estado     → RJ

2ª Franquia

id         → 88
cpf        → 789
endereco   → Rua B
bairro     → Cantagalo
cidade     → Rio De Janeiro
estado     → RJ

In [ ]:
dados = dict(
    nome = ['Léo', 'Maria', 'Ana']
)