Importando Lib's

In [4]:
import pandas as pd

Criando dataframe

In [9]:
df_entregas = pd.DataFrame({
    'id_entrega' : [1, 2, 3],   # chave prim√°ria
    'filial'     : ['RJ', 'MG', 'SP'],
    'status'     : ['ENTREGUE', 'ATRASADO', 'ENTREGUE']
})

df_custos = pd.DataFrame({
    'id_custo': [1, 2, 3],
    'id_entrega': [1, 1, 3],
    'custo': [150.89, 147.56, 278.26]
})

JOIN

In [ ]:
# inner join

pd.merge(
    df_entregas, df_custos,
    on='id_entrega',
    how='inner'
)

In [ ]:
# inner join

pd.merge(
    df_entregas, df_custos,
    on='id_entrega',
    how='inner'
)

In [ ]:
# left join

pd.merge(
    df_entregas, df_custos,
    on='id_entrega',
    how='left'
)

In [ ]:
# right join

pd.merge(
    df_entregas, df_custos,
    on='id_entrega',
    how='right'
)

In [ ]:
# full outer join

pd.merge(
    df_entregas, df_custos,
    on='id_entrega',
    how='outer'
)

In [16]:
df_entregas_idx = df_entregas.set_index('id_entrega')
df_custos_idx = df_custos.set_index('id_entrega')

df_join = df_entregas_idx.join(df_custos_idx, how='left')
df_join.reset_index()

   id_entrega filial    status  id_custo   custo
0           1     RJ  ENTREGUE       1.0  150.89
1           1     RJ  ENTREGUE       2.0  147.56
2           2     MG  ATRASADO       NaN     NaN
3           3     SP  ENTREGUE       3.0  278.26